In [3]:
import nibabel as nib
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
import glob

In [4]:
# Read all the files in the directory
# and store them in a list
files = glob.glob('data/train/volume/*.nii')

In [6]:
liste_caracteristiques = []
for i in range(len(files)):
    img = nib.load(files[i])
    liste_caracteristiques.append([img.shape, img.header.get_zooms(), img.header.get_xyzt_units(), img.header.get_data_dtype()])

In [7]:
dataframe = pd.DataFrame(liste_caracteristiques, columns=['shape', 'zooms', 'units', 'dtype'])

In [17]:
dataframe.head(30)

              shape                        zooms          units  dtype
0   (512, 512, 114)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
1   (512, 512, 111)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
2   (512, 512, 109)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
3    (512, 512, 95)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
4   (512, 512, 102)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
5    (512, 512, 82)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
6   (512, 512, 114)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
7   (512, 512, 121)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
8   (512, 512, 134)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int32
9    (512, 512, 88)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
10  (512, 512, 110)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
11   (512, 512, 91)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
12  (512, 512, 126)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
13   (512, 512, 91)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
14  (512, 512, 105)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
15  (512, 512, 107)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
16  (512, 512, 114)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int32
17  (512, 512, 114)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
18  (512, 512, 106)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16
19  (512, 512, 108)  (0.9765625, 0.9765625, 3.0)  (mm, unknown)  int16

In [25]:
imag_info = []
for i in range(len(files)):
    img = nib.load(files[i]).get_fdata()
    imag_info.append([np.min(img), np.max(img)])

In [26]:
df_img_info = pd.DataFrame(imag_info, columns=['min', 'max'])

In [27]:
df_img_info.head(30)

            min          max
0  -1024.000000  3071.000014
1  -1024.000000  3071.000014
2  -1024.000000  3071.000014
3  -1024.000000  3071.000014
4  -1024.000000  3071.000014
5  -1024.000000  3071.000014
6  -1024.000000  3071.000014
7  -1024.000000  3071.000014
8  -1023.999939  3034.000000
9  -1024.000000  3071.000014
10 -1024.000000  3071.000014
11 -1024.000000  3071.000014
12 -1024.000000  3071.000014
13 -1024.000000  3071.000014
14 -1024.000000  3071.000014
15 -1024.000000  3071.000014
16 -1023.999939  3063.000000
17 -1024.000000  3071.000014
18 -1024.000000  3071.000014
19 -1024.000000  3071.000014